@{
    ViewBag.Title = "Contact";
}

<div class="hero-wrap" style="background-image: url('../images/bg_6.jpg'); background-attachment:fixed;height:300px;">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center" data-scrollax-parent="true">
            <div class="col-md-8 text-center">
                
                <h1 class="mb-3 bread" style="margin-top:-200px">Contact Us</h1>
            </div>
        </div>
    </div>
</div>

<section class="ftco-section contact-section ftco-degree-bg">
    <div class="container">
        <div class="row d-flex mb-5 contact-info">
            <div class="col-md-12 mb-4">
                <h2 class="h4">Contact Information</h2>
            </div>
            <div class="w-100"></div>
            <div class="col-md-3">
                <p><span>Address:</span> 198 West 21th Street, Suite 721 New York NY 10016</p>
            </div>
            <div class="col-md-3">
                <p><span>Phone:</span> + 1235 2355 98</p>
            </div>
            <div class="col-md-3">
                <p><span>Email:</span> info@yoursite.com</p>
            </div>
            <div class="col-md-3">
                <p><span>Website</span> yoursite.com</p>
            </div>
        </div>
        
    </div>
</section>


